@section styles{
    <link href="~/Content/validationEngine.jquery.css" rel="stylesheet" />
    <link href="~/Scripts/datetimepicker/local/datepicker.css" rel="stylesheet" />
}
<h2>เพิ่มผู้ใช้งาน</h2>
<form id="frmuser">
    <div class="form-horizontal">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="UserName">ชื่อผู้ใช้งาน</label>
                <input type="hidden" id="UserID" value="0" />
                <input type="text" id="UserName" maxlength="100" class="form-control validate[required]" value="UserName1" />
            </div>
            <div class="form-group col-md-6">
                <label for="Password">รหัสผ่าน</label>
                <input type="password" id="Password" maxlength="20" class="form-control validate[required]" value="$user" />
            </div>
           <div class="form-group col-md-6">
                <label for="FirstName">นามแฝง</label>
                <input type="text" id="AliasName" maxlength="100" class="form-control validate[required]" value="Alias Name" />
            </div>
            <div class="form-group col-md-6">
                <label for="FirstName">ชื่อ</label>
                <input type="text" id="FirstName" maxlength="100" class="form-control validate[required]" value="เอกชัย" />
            </div>
            <div class="form-group col-md-6">
                <label for="LastName">นามสกุล</label>
                <input type="text" id="LastName" maxlength="100" class="form-control validate[required]" value="สุนทร" />
            </div>
            <div class="form-group col-md-6">
                <div class="block">เพศ</div>
                <div class="error-groupreq">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input  validate[groupRequired[rdoMale]" type="radio" name="rdosex" id="rdoMale" value="0">
                        <label class="form-check-label" for="rdoMale">ชาย</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input validate[groupRequired[rdoMale]" type="radio" name="rdosex" id="rdoFemale" value="1">
                        <label class="form-check-label" for="rdoFemale">หญิง</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="dateOfBirth">วันเกิด</label>
                <div class="input-group input-group-sm">
                    <input type="text" id="dateOfBirth" readonly autocomplete="off" class="form-control form-control-sm date datepicker validate[required]" data-provide="datepicker" data-date="" data-date-language="th-th" value="" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary datepicker-trigger" disabled>
                            <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="Email">อีเมล</label>
                <input type="text" id="Email" maxlength="100" class="form-control validate[required]" value="user@xxx.com" />
            </div>
       <div class="form-group col-md-6">
                <label for="PhoneNumber">เบอร์โทร</label>
                <input type="text" id="PhoneNumber" maxlength="20" class="form-control validate[required]" value="0892792972" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="button" id="btsave" value="Save" class="btn btn-primary" />
        </div>       
    </div>

</form>
<div>
    @Html.ActionLink("ย้อนกลับ", "UserList")
</div>
@section scripts{
    <!--validate engine-->
    <script src="~/Scripts/jquery.validationEngine-th.js"></script>
    <script src="~/Scripts/jquery.validationEngine.js"></script>
    <!--datetime ไทย -->
    <script src="~/Scripts/datetimepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/datetimepicker/bootstrap-datepicker-thai.js"></script>
    <script src="~/Scripts/datetimepicker/local/bootstrap-datepicker.th.js"></script>
    <script src="~/assets/js/vendors/sweetalert2@9.js?v=@(SiteConfig.Instance.ScriptVerision)"></script>
    <script src="~/assets/js/scripts-init/sweet-alerts.js?v=@(SiteConfig.Instance.ScriptVerision)"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // $('#dateOfBirth').datepicker('setEndDate', Common.GetDate());
            $('.datepicker').datepicker({ autoclose: true });
            $('#dateOfBirth').datepicker('setEndDate', Common.GetDate())
               /* .on('changeDate', function (ev) {
                var bDate = new Date(ev.date);
                    var age = new Date().getFullYear() - bDate.getFullYear();
                if (age <= 0) {
                    ev.preventDefault();
                    SWError.fire({ title: 'คุณระบุวันเกิดที่มีอายุ 0 ปี' });
                } else if (age > 130) {
                    SWWarning.fire({ title: 'คุณระบุวันเกิดที่มีอายุมากกว่า 130 ปี', });
                }
            }); */
            $('body')
                .off('click', '#btsave')
                .on('click', '#btsave', function (e) {
                    e.preventDefault();
                    //#START ตรวจสอบค่า
                    if ($('#frmuser').validationEngine('validate')) {
                        SWConfirm.fire().then((result) => {
                            $('#btsave').attr("disabled", true)
                            if (result.value) {
                                var userData = {
                                    UserName: $('#UserName').val(),
                                    AliasName: $('#AliasName').val(),
                                    Password: $('#Password').val(),
                                    FirstName: $('#FirstName').val(),
                                    LastName: $('#LastName').val(),
                                    Gender: $('[name="rdosex"]:checked').val(),
                                    PhoneNumber: $('#PhoneNumber').val(),
                                    Email: $('#Email').val(),
                                    DateOfBirthStr: $('#dateOfBirth').datepicker({ dateFormat: 'DD/MM/YYYY' }).val(),
                                    UserStatusID: 1,
                                    UserTypeID: 1
                                }
                                console.log({ userData: userData });
                                //$.ajax({
                                //    url: '/test/adduser',
                                //    method: 'POST',
                                //    data: {
                                //        UserData: userData
                                //    },
                                //    beforeSend: function () { $('#btsave').attr("disabled", true).html('กำลังบันทึกข้อมูล...'); },
                                //    success: function (data) {
                                //        if (data.Status) {
                                //            SWSuccess.fire();
                                //        } else {
                                //            SWError.fire();
                                //        }
                                //    }
                                //    , error: function (err) {
                                //        if (err.status == 401) {
                                //            window.location.reload();
                                //        }
                                //    }
                                //});

                            }
                        });
                    }//#END ตรวจสอบค่า
                });

        });//#END ready
    </script>
}
