<div class="row mt-3 mb-5">
    <div class="col-12">
        <h5>เครื่อข่ายการให้ความช่วยเหลือ</h5>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
            <a href="http://otm.moc.go.th/" target="_blank"><div class="ops-src mr-3"></div></a>
            <div class="widget-chart-content">
                <div class="widget-heading font-weight-bold">สำนักงานรัฐมนตรี</div>
                <div class="widget-subheading">Office of the Minister</div>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
            <a href="/"><div class="moj-src mr-3"></div></a>
            <div class="widget-chart-content">
                <div class="widget-heading font-weight-bold">สำนักงานปลัดกระทรวงยุติธรรม</div>
                <div class="widget-subheading">Office of the Permanent Secretary</div>
            </div>

        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
            <a href="http://www.led.go.th/" target="_blank"><div class="led-src mr-3"></div></a>
            <div class="widget-chart-content">
                <div class="widget-heading font-weight-bold">กรมบังคับคดี</div>
                <div class="widget-subheading">Legal Execution Department</div>
            </div>

        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
            <a href="https://probation.go.th/" target="_blank"><div class="probation-src mr-3"></div></a>
            <div class="widget-chart-content">
                <div class="widget-heading font-weight-bold">กรมคุมประพฤติ</div>
                <div class="widget-subheading">Department of Probation</div>
            </div>

        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
            <a href="http://www.correct.go.th/" target="_blank"><div class="correct-src mr-3"></div></a>
            <div class="widget-chart-content">
                <div class="widget-heading font-weight-bold">กรมราชทัณฑ์</div>
                <div class="widget-subheading">Department of Corrections</div>
            </div>

        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
            <a href="http://www.djop.go.th/" target="_blank"><div class="djop-src mr-3"></div></a>
            <div class="widget-chart-content">
                <div class="widget-heading font-weight-bold">กรมพินิจและคุ้มครองเด็กและเยาวชน</div>
                <div class="widget-subheading">Department of Juvenile Observation</div>
            </div>

        </div>
    </div>

</div>


@section scripts{}
